<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Change roles</title>
    <th:block th:insert="~{/fragments/head}"></th:block>
</head>

<body style="font-family: Georgia, serif;">

<div>
    <th:block th:insert="~{/fragments/navigation}"></th:block>
</div>

<div class="container" style="background-color: #406e3c; border-radius: 25px; margin-top: 250px; width: 70%;">

    <div class="row">

        <div class="col-12">

            <table class="table table-bordered border-dark">

                <thead>

                <tr style="background-color: #406e3c; color: white">
                    <th scope="col" class="text-center">Roles</th>
                    <th scope="col" class="text-center">Manage</th>
                </tr>

                </thead>

                <tbody>

                <tr th:each="role: ${T(com.organicshop.domain.enums.UserRoleEnum).values()}"
                    th:object="${role}">

                    <th scope="row" th:text="${role.name()}" class="text-center text-white"
                        style="background-color: #e1d7cd">1
                    </th>

                    <td style="background-color: #e1d7cd; font-weight:bold; text-align: center"
                        th:if="${#strings.equals(role.name(),'USER')}">
                        Not manageable
                    </td>

                    <td style="background-color: #e1d7cd; font-weight: bold; text-align: center;"
                        th:if="${#strings.equals(role.name(),'ADMIN')}">
                        Cannot be admin
                    </td>

                    <td style="background-color: #e1d7cd; text-align: center;"
                        th:if="${#strings.equals(role.name(),'EMPLOYEE')}">
                        <form th:method="PATCH"
                              th:action="@{/users/roles/add/{id}(id=${user.id})}"
                              th:object="${user}">
                            <button class="button-detail"
                                    th:unless="${user.hasRoleEmployee()}"
                            >Add role
                            </button>
                        </form>

                        <form th:method="PATCH"
                              th:action="@{/users/roles/remove/{id}(id=${user.id})}"
                              th:object="${user}">
                            <button class="button-detail"
                                    th:if="${user.hasRoleEmployee()}"
                            >Remove role
                            </button>
                        </form>

                    </td>

                </tr>

                </tbody>

            </table>

        </div>
    </div>
</div>

<th:block th:insert="~{fragments/footer}"></th:block>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>